<!DOCTYPE html>
<html>
  <head>
    <title>RailsPokemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <div class="container">
      <%= yield %>
      <%= render "shared/flashes" %>
    </div>
=======
    <%= yield %>
>>>>>>> 9d4f030315a4455f9b7c0f38860b71352f05467b
  </body>
</html>
